.login-menu{
    display: flex;
}
.login-menu li{
    margin-left: 25px;
    list-style: none;
}
.login-menu li a{
    text-decoration: none;
}
.login-menu h4{
    margin: 0;
}
.heading{
    margin-top: 50px;
    text-align: center;
}